<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <% @types.each do |type| %>
          <%= link_to type.name, params[:type_id].to_i == type.id ? request.params.merge(type_id: "") : request.params.merge(type_id: type.id), class:"list-group-item #{'active' if params[:type_id].to_i == type.id}"%>
        <%end%>
        <!-- more transaction types -->
      </div>
      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <% @category.each do |category| %>
          <%= link_to category.name, params[:category_id].to_i == category.id ? request.params.merge(category_id: "") : request.params.merge(category_id: category.id), class:"list-group-item #{'active' if params[:category_id].to_i == category.id}"%>
        <%end%>
        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div  class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div id= "total" class="summary-value"><%=number_to_currency(@total)%></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div id="transactions"class="summary-value"><%=@expenses.count%></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div id = "average"class="summary-value"><%=number_to_currency(@average)%></div>
          <div class="summary-label">Average</div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to  new_expense_path, remote:true, :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>New Expense
          <% end %>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"><%= @currentmonth%> <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><%= link_to "Show All", request.params.merge(month: "")%></li>
              <li role="separator" class="divider"></li>
              <% @months.each do |month|%>
                <li role="presentation"><%= link_to "#{month.strftime("%B")} #{month.year}", request.params.merge(month: month)%></li>
              <%end%>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>
      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <%= render "row", expense: expense %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
